{% extends "base.html" %}   
    
{% block content %}
   
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Add Title Deed</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/users">Land Owners</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Title Deed</li>
                </ol>
              </nav>
            <form method="post" action="/add-title-deed">
                <dl>
                    <p>
                        <input class="form-control" name="location" type="text" placeholder="Location" autocomplete="off"
                            required>
                    </p>
                    <p>
                        <input class="form-control" name="area" type="number" placeholder="Area"
                            autocomplete="off" required>
                    </p>
                    <p>
                      <input class="form-control" name="plot_number" type="text" placeholder="Plot No"
                          autocomplete="off" required>
                  </p>
                  <p>
                    <input class="form-control" name="serial_no" type="number" placeholder="Serial No"
                        autocomplete="off" required>
                </p>
                <p>
                    <input class="form-control" name="documentation_number" type="text" placeholder="Documentation No"
                        autocomplete="off" required>
                </p>
                <p>
                    <input class="form-control" name="nature_of_title" type="text" placeholder="Nature of Title"
                        autocomplete="off" required>
                </p>
                <p>
                    <input class="form-control" name="issue_date" type="date" placeholder="Issue Date"
                        autocomplete="off" required>
                </p>
                    
                </dl>
                <p>
                    <input name="id" value="{{ id }}" type="hidden">
                    <input class="btn btn-info" type="submit" value="Submit">
                </p>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    
   {% endblock %}